#container {
    /* background-color: #003049; */
    height: 100%;
    /* height: 500px; */
    margin: 0 auto;
    /* border: 5px solid #003049; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
}

#sub-container {
    width: 200px;
    height: 100px;
    /* max-width: 300px; */
    text-align:center;
    flex-basis: 100px;
    flex-grow: 1;
}

.collapse.multi-collapse {
    height: 50vh;
    overflow-y: scroll;
}

.collapse.multi-collapse::-webkit-scrollbar { width: 0 !important }

.custom-height {
    height: 75vh !important;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 350px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }
.flip-card-front img {
    width: 300px;
    height: 350px;
}

/*.container::-webkit-scrollbar{
    width: 5px;
}


.container ::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff8a00), to(#da1b60));
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .25), inset -2px -2px 2px rgba(0, 0, 0, .25)
}

.container ::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
    background: linear-gradient(to right, #201c29, #201c29 1px, #100e17 1px, #100e17)
}*/